<footer class="container-fluid py-3 bg-primary text-white">
    <div class="row text-center">
      <div class="col">
        <span class="px-5">Tikets - Solucionamos tu problema - &#169; Derechos Reservados</span>
      </div>
    </div>
  </footer>